.container {
  padding: var(--padding-container);
}

.container .view-toggle small {
  margin: 0;
}

.container .view-toggle {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
}

.container .view-toggle div {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-around;
}

.container .view-toggle div button {
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.container .view-toggle div button.active {
  border-bottom: 1px solid gray;
  padding: 1rem;
}

.container .table__container {
  margin-top: 1.5rem;
  overflow: auto;
}